body{
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
color: #434455;
background-color: #FFFFFF;
}
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}
.header{
    background-color: var(--text-color);
}
:root{
   --title-color: #404BBF;  
}
:root{
    --text-color: #FFFFFF;  
 }
 :root{
    --btn-color:#4d5ae5;  
 }
 :root{
    --services-color:#2e2f42;  
 }

.logo{  
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    }
.logo-studio-header{ 
    color: #2E2F42;
}
.menu{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
}
.adress{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}



.menu:hover,
.menu:focus{
    color: var(--title-color);   
}

.mail-tel:hover,
.mail-tel:focus{
    color: var(--title-color);   
}
  
.section-hero{
background-color: #2E2F42;
}
.hero{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.button{
font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: var(--text-color);
cursor: pointer;
background-color: #4D5AE5
}
.buton:hover,
.buton:focus{
    color: var(--title-color);
    background-color: #404BBF;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section-about-work{
    background-color: var(--text-color);
}
.about-work{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.about-work-text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.section-work{
    background-color: var(--text-color);
}
.work{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}
.section-team{
    background-color: #F4F4FD
}
.team-photo{
    background-color: #FFFFFF
}
.team{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2E2F42;
}
.worker-name{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.profession{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.footer{
    background-color: #2E2F42;
}
.footer-text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;
}
.button-all{
font-family: "Roboto",sans-serif;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color:var(--btn-color);
cursor: pointer;
font-weight: 500;
background-color:  #F4F4FD;
}
 
.buton-portfolio:hover,
.buton-portfolio:focus{
    color: #404BBF;
}
.buton-all:hover,
.buton-all:focus{
    color: #FFFFFF;
    background-color:#404BBF;
}
.cervices{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--services-color);
}
.cervices-text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--parafraf-color) ;
}
.logo-studio{
    color: #f4f4fd;
}
:root{
    --parafraf-color:#434455;  
 }